<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>BankServlet</servlet-name>
  	<display-name>BankServlet</display-name>
  	<description></description>
  	<servlet-class>com.otz.controller.BankServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BranchServlet</servlet-name>
  	<display-name>BranchServlet</display-name>
  	<description></description>
  	<servlet-class>com.otz.controller.BranchServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerServlet</servlet-name>
  	<display-name>CustomerServlet</display-name>
  	<description></description>
  	<servlet-class>com.otz.controller.CustomerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminServlet</servlet-name>
  	<display-name>AdminServlet</display-name>
  	<description></description>
  	<servlet-class>com.otz.controller.AdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AcccountTypeServlet</servlet-name>
  	<display-name>AcccountTypeServlet</display-name>
  	<description></description>
  	<servlet-class>com.otz.controller.AcccountTypeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AccountServlet</servlet-name>
  	<display-name>AccountServlet</display-name>
  	<description></description>
  	<servlet-class>com.otz.controller.AccountServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BillerServlet</servlet-name>
  	<display-name>BillerServlet</display-name>
  	<description></description>
  	<servlet-class>com.otz.controller.BillerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TranscationServlet</servlet-name>
  	<display-name>TranscationServlet</display-name>
  	<description></description>
  	<servlet-class>com.otz.controller.TranscationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<display-name>loginServlet</display-name>
  	<description></description>
  	<servlet-class>com.otz.controller.loginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContactSupportServlet</servlet-name>
  	<display-name>ContactSupportServlet</display-name>
  	<description></description>
  	<servlet-class>com.otz.controller.ContactSupportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BankServlet</servlet-name>
  	<url-pattern>/BankServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BranchServlet</servlet-name>
  	<url-pattern>/BranchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerServlet</servlet-name>
  	<url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminServlet</servlet-name>
  	<url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AcccountTypeServlet</servlet-name>
  	<url-pattern>/AcccountTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AccountServlet</servlet-name>
  	<url-pattern>/AccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BillerServlet</servlet-name>
  	<url-pattern>/BillerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TranscationServlet</servlet-name>
  	<url-pattern>/TranscationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactSupportServlet</servlet-name>
  	<url-pattern>/ContactSupportServlet</url-pattern>
  </servlet-mapping>
</web-app>
